
h1{
    color: #d64444;
}
p{
    text-decoration: wavy;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


a{
    text-decoration: none;
}

.main2{
    text-align: center;
    ;
}


.main2:hover{

    background-color: #cbd1a9;
}